*.la
*.lo
.deps
.libs/
autom4te.cache/
build/
modules/
Makefile*
acinclude.m4
aclocal.m4
configure*
config.guess
config.h*
config.log
config.nice
config.status
config.sub
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
run-tests.php

.phpenv-version
extras/
php.sh
